

<body>

<main>

<section id="section2" class="section">
<div class="contents row">
  <div class="content_kotoba">
        <div class="content_show" style="background-image:mitei ">
          <div class="leaf-1"></div> 
          <div class="content_post_box">
            <div class="content_post_time">
              <p><%= @kotoba.created_at.in_time_zone.strftime('%Y-%m-%d %H:%M') %></p>
            </div> 
            <div class="content_post_main">
              <p><%= simple_format(truncate_with_newline(@kotoba.text)) %></p>
            </div>
          </div> 
        </div>
  </div>
</div>
</section>

</main>

</body>

<div class="show_boxes">
  <div class="show_box">
    <%= link_to '編集', edit_kotoba_path(@kotoba.id) %>
  </div>  
  <div class="show_box">
    <%= link_to '削除', kotoba_path(@kotoba.id),data: { turbo_method: :delete } %>
  </div>  
  <div class="show_box">
    <%= link_to '滔々', delete_item_kotoba_path(@kotoba), data: { turbo_method: :delete } %>
  </div>    
</div>  

 