

<body>

<main>

<section id="section2" class="section">
<div class="contents row">
  <div class="content_kotoba">
        <div class="content_show" style="background-image:mitei ">
          <div class="leaf-1"></div> 
          <div class="content_post_box">
            <div class="content_post_time">
              <p><%= @kotoba.created_at.in_time_zone.strftime('%Y-%m-%d %H:%M') %></p>
            </div> 
            <div class="content_post_main">
              <p><%= simple_format(@kotoba.text) %></p>
            </div>
          </div> 
        </div>
  </div>
</div>
<div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@kotoba, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "はげましの言葉を送る", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ 励ましの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
   <div class="comments">
      <h4>＜励ましの言葉＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
</div>

<div class="show_boxes">
  <% if user_signed_in?%>
       <% if current_user.id == @user.id %>
        <div class="show_box">
           <%= link_to '編集', edit_kotoba_path(@kotoba.id) %>
        </div>  
        <div class="show_box">
           <%= link_to '削除', kotoba_path(@kotoba.id),data: { turbo_method: :delete } %>
        </div>  
        <div class="show_box">
           <%# <%= link_to '滔々', delete_item_kotoba_path(@kotoba), data: { turbo_method: :delete } %> 
        </div> 
       <% end %>   
  <% end %>          
</div>  

</section>

</main>

</body>


 